//- header.pug
head 
  title 首页
  link(rel='stylesheet', href='/css/bootstrap.css' ,type = "text/css")
  link(rel='stylesheet', href='/css/login.css' ,type = "text/css")
  script(src="/js/jquery.min.js")
  script(type = "text/javascript" , src='/js/bootstrap.min.js')